<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head-fragment.html :: head"></head>

<body>
<header th:replace="fragments/header-fragment.html :: header"></header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/navbar-fragment.html :: navbar"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <form th:action="@{/product/new}" method="post" th:object="${product}">
                <div class="form-group" hidden="true">
                    <label for="productId">Код товара</label>
                    <input type="text" class="form-control" id="productId" placeholder="Код продукта" th:field="*{id}">
                </div>

                <div class="form-group">
                    <label for="productName">Название</label>
                    <input type="text" class="form-control" id="productName" placeholder="Название продукта"
                           th:field="*{name}">
                </div>

                <div class="form-group">
                    <label for="productPrice">Стоимость продукта</label>
                    <input type="number" class="form-control" id="productPrice" placeholder="Стоимость продукта"
                           th:field="*{price}"/>
                </div>

                <button type="submit" name="action" value="create" class="btn btn-primary">Создать</button>
            </form>
        </main>
    </div>
</div>

<div th:replace="fragments/bodyfooter-fragment.html::bodyfooter"></div>
</body>
</html>
