<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                    <span data-feather="home"></span>
                    Главная
                </a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/sales">-->
<!--                    <span data-feather="file"></span>-->
<!--                    Продажи-->
<!--                </a>-->
<!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/product">
                    <span data-feather="shopping-cart"></span>
                    Товары
                </a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/customer">-->
<!--                    <span data-feather="users"></span>-->
<!--                    Клиенты-->
<!--                </a>-->
<!--            </li>-->

<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="searchProduct">-->
<!--                    <span data-feather="/search"></span>-->
<!--                    Поиск товаров-->
<!--                </a>-->
<!--            </li>-->

            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="users">
                    <span data-feather="/settings"></span>
                    Пользователи
                </a>
            </li>
        </ul>
    </div>
</nav>
</html>